#home-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#nav {
  display: table-cell;
  text-align: center;
  width: 100%;
}

#name {
    position: static;
    text-align: center;
    color: #E9AFA3;
    font-weight: 300;
    font-size: 4.5em;
    letter-spacing: .3em;
    padding-top: 100px;
}

body {
  background-color: #F9DEC9;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding-top: 0px;
}

li {
  float: left;
}

li a {
  display: block;
  width: 60px;
    margin-right: 3em;
}

a {
  text-decoration: none;
  color: #AEC5EB;
}

a:hover {
  color: #72A1E5;
}
