#container {
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#nav {
  margin-top: 0%;
}

#name {
    position: static;
    text-align: center;
    color: #ffdbfc;
    font-weight: 300;
    font-size: 4.5em;
    letter-spacing: .2em;
}

a:hover {
  color: #fcffdb;
}
