#container {
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#nav {
  margin-top: 0%;
  font-family: cursive;
}

#name {
    position: static;
    text-align: center;
    color: #FE2851;
    font-weight: 300;
    letter-spacing: .2em;
    padding-top: 160px;
  	font-size: 5em;
  	font-weight:normal;
  	font-style:none;
}

a:hover {
  color: #6A11CB;
}

body {
  background-color: #F7F7F7;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    padding-left: 0em;
    padding-right: 0em;
    margin-right: 3em;
}

a {
  text-decoration: none;
  color: #2575FC;
}
